.about__container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.about__card {
  background: var(--color-bg-variant);
  width: max-content;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}
.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.about__card h5 {
  font-size: 0.9rem;
}
.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}
.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

/* media query for medium devices */

@media screen and (max-width: 1024px) {
  .about__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

/* media query for small devices */

@media screen and (max-width: 600px) {
  .about__container {
    text-align: start;
    place-items: center;
  }

  .about__card {
    padding: 1rem;
  }

  /* .about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
  } */

  .about__card h5 {
    font-size: 0.7rem;
  }
  .about__card small {
    font-size: 0.5rem;
  }
}
